meta(charset="utf-8")
meta(name="description", content="Simple Node Forum App")

title=pageTitle

link(rel="stylesheet", href="/css/styles.css")
script(type="text/javascript", src="/lib/jquery/jquery.min.js")
